
  <h1 class=" text-center m-5"> Regester page</h1>
<div class="container ms-2  ">

<form method="POST" action="">
{% csrf_token%}

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">user name</label>
    <input type="text" name="username"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
   <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div >